@using Blob.Web.Framework.UI;
 

@model  Blob.Core.IPagedList<Blob.Core.Domain.Users.User>
@using System.Globalization;
@{
    var defaultGridPageSize = 10;
    var gridPageSizes = 3;

    var kendoVersion = "2014.1.318";
    
     //CSS resources
    Html.AppendCssFileParts(string.Format("~/Content/kendo/{0}/kendo.rtl.min.css", kendoVersion));
    Html.AppendCssFileParts(string.Format("~/Content/kendo/{0}/kendo.default.min.css", kendoVersion));
    Html.AppendCssFileParts(string.Format("~/Content/kendo/{0}/kendo.common.min.css", kendoVersion));
    Html.AppendCssFileParts("~/Content/jquery-ui-themes/smoothness/jquery-ui-1.10.3.custom.min.css");
    Html.AppendCssFileParts("~/Administration/Content/styles.css");
    
    Html.AppendScriptParts(string.Format("~/Scripts/kendo/{0}/kendo.web.min.js", kendoVersion));
    Html.AppendScriptParts("~/Scripts/admin.common.js");
    Html.AppendScriptParts("~/Scripts/jquery-migrate-1.2.1.min.js");
    Html.AppendScriptParts("~/Scripts/jquery-ui-1.10.3.custom.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.unobtrusive.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.min.js");
    Html.AppendScriptParts("~/Scripts/jquery-1.10.2.min.js");
}
 


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListGrid</title>
    <div>User Grid</div>

        @Html.BlobHeadCustom()
        @Html.BlobCssFiles(this.Url, ResourceLocation.Head)
        @Html.BlobScripts(this.Url, ResourceLocation.Head)

 
</head>
<body>
<div id="customers-grid"></div>
    <div>
        <script>
                    $(document).ready(function () {
                        $("#customers-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("UserListGrid", "User"))",
                                        type: "POST",
                                        dataType: "json"                                     
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)]
                            },
                            scrollable: false,                          
                            columns: [{
                                    field: "Id",
                                    headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                                    width: 10
                                }, {
                                    field: "Id",
                                    title: "ID",
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    width: 10
                                },
                                {
                                    field: "Username",
                                    title: "User Name",
                                    width: 50
                                },
                                {
                                    field: "fname",
                                    title: "First Name",
                                    width: 50
                                },
                                {
                                    field: "lname",
                                    title: "Last Name",
                                    width: 50
                                },
                                {
                                    field: "Email",
                                    title: "Email",
                                    width: 50
                                },
                                {
                                    field: "Active",
                                    title: "Status",
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },  
                                    width: 50
                                }]
                        });
                    });
                </script>
    </div>
     @Html.BlobCssFiles(this.Url, ResourceLocation.Foot)
     @Html.BlobScripts(this.Url, ResourceLocation.Foot)
</body>
</html>
     
 
